header { color: WHITE;
		font-family: Georgia;
		font-size: 350%;
		text-align: center;
		height: 130px;
		padding-top: 15px; 
		border-radius: 15px; }
		
main	{ padding: 15px;
		color: white;
		text-align: center;
		font-family: Georgia; }
h3 {
	color: white;
}
		 
body	{ background-color: #6AB187;
		 background-image: linear-gradient(to top, #6AB187, #F4CC70);
		 background-repeat: no-repeat;
		 padding-bottom: 100px; 
		}
		 
nav		{ text-align: center;
		 background-color: #20948B;
		 font-size: 1.5em; 
		}

nav li	{ display: inline-block; }

nav a 	{ text-decoration: none; 
		 transition: color 1.5s linear;
		 padding-left: 15px;
		 padding-right: 15px; }

nav a:link		{ color: #000000; }
nav a:visited	{ color: #BEBEBE; }
nav a:hover		{ color: #FFFFFF; }
table, th, td {
	color: white;
	border: 3px solid #DE7A22;
}

th, td {
	padding: 15px;
}

footer { text-align: center;
		font-family: Georgia;
		font-size: 70%;
		color: WHITE;
		height: 100px;
		bottom: 0;
		width: 100%; }

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.option {
	box-shadow: 10px 10px #DE7A22;
	margin-top: 20px;
	margin-right: 20px;
	border-style: solid;
	border-width: 4px;
	border-color: #20948B;
	padding: 10px;
	color: white;
	font-size: 90%;
	margin-bottom: 20px;
}

@media only screen and (max-width: 37.5em) {

	nav 	{ float: none;
			 width: auto;
			 padding:0em; }
		
	main 	{ padding: 0px;
			 margin: 0; }
	
	nav ul  { text-align: center; }
}